<p id="plan_list_container">Please select the plan that you're interested in:
<select name="counseling[selected_plan_id]" id="selected_plan" onchange="new Ajax.Request('/help/get_after_plan_selection_questions', {
							asynchronous:false,
							evalScripts:true,
							parameters:'plan='+escape(this.value),
							onSuccess: function(response) {
								$('question_container').update(response.responseText);
							}
							})">
	<option value=""></option>
	<%= options_for_select @matching_plans.collect{|p| [p.name, p.id]}, @counseling.selected_plan_id %>
    <option value="IDK">I don't know</option>
    <%= "<option value=\"OTHER\">Other</option>" if @show_option_other %>
</select></p>

<div id="question_container">&nbsp;</div>