<% if cities == "true" -%>
	<%= remote_select "counseling", "county_id", options, "help", "get_localities" %>
<% else -%>	
	<select name="counseling[county_id]">
		<option></option>
		<%= options_for_select options %>
	</select>
<% end -%>