<% if cities == "true" -%>
	<%= remote_select "county", options, "help", "get_localities" %>
<% else -%>	
	<select name="county">
		<option></option>
		<%= options_for_select options %>
	</select>
<% end -%>