<% if ENV['RAILS_ENV'] == 'development' %>
<div style="font-size:80%">
	<u>counseling object</u> <br/>
	<blockquote>
		<% @counseling.attributes.each do |k,v| %>
			<%= k %> = <%= v %><br/>
		<% end %>	
	</blockquote>
</div>
<% end %>