<p class="normal">Please select the employee type that most closely matches your situation: <br/>
  <select name="selected_plan_override">
<option value=""></option>
<%= options_for_select employees %>
</select></p>