<div id="agency_name_container" class="normal"><label>What agency or department did you work for?</label>
  <input name="counseling[agency_name]" type="text" id="agency_name" />
</div>
<div id="plan_job_function_container" class="normal"><label>What was your job function?</label>
  <input name="counseling[job_function]" type="text" id="job_function"
/>
</div>