<h2>We need a little more information...</h2>
<p>Answer the questions below to help identify the particular pension plan you have a question about. Then click “Next” to continue.</p>
<p id="plan_name_container">What plan were you inquiring about?
<input name="counseling[plan_name]" type="text" id="plan_name" />
</p>
<%= render :partial => 'not_known_plans' %>
<script type="text/javascript">
  addValidation();
  validateStep();
</script>