<p id="plan_agency_name_container">What plan were you inquiring about?
<input name="counseling[plan_name]" type="text" id="plan_name" />
</p>
<%= render :partial => 'not_known_plans' %>
<script type="text/javascript">
  addValidation();
  validateStep();
</script>