<% form_for :search_form do |form| %>
  <table>
    <tr>
      <td>Company Name:</td>
      <td><%= form.text_field :company_name %></td>
    </tr>
    <tr>
      <td>State:</td>
      <td><%= form.select :state, Search.get_states %></td>
    </tr>
    <tr>
      <td>Zip code:</td>
      <td><%= form.text_field :zip_code, :size => 6 %></td>
    </tr>
    <tr>
      <td colspan="2"><%= submit_tag 'Search' %></td>
    </tr>
  </table>
<% end %>