<div id="content-no-sidebar" style="width: 760px">
  <div id="return_button">
  <%= button_to 'Back to Management Menu', admin_menu_index_path, :method => :get %>
  </div>
  <div class="admin_table">
  <table id="plan_table" cellspacing="0">
          <tbody id="plan_list">          
                          <tr>
                                <th>State</th>
                                <th>Catchall Employees</th>
                          </tr>
                          <% @states.each do |state| %>
                          <tr  class="<%= cycle('odd','even') %>">
                                  <td><%= link_to h(state.name), :action => :catchall_employees, :id => state %></td>
                                  <td><%= state.catchall_employees.collect{|emp| EmployeeType.find(emp.employee_type_id).name}.join(', ') %></td>
                          </tr>
                          <% end %>
          </tbody>
  </table>
  </div>
</div>