<p class="works_question">Member of the American Academy of Actuaries: <%= p.radio_button :aaa_member, true %>&nbsp;&nbsp;Yes&nbsp;&nbsp;<%= p.radio_button :aaa_member, false %>&nbsp;&nbsp;No</p>

<p>&nbsp;</p>
