<p class="works_question">Please provide any other information that you feel would be helpful (licenses, certifications, professional affiliations, publications, etc.):</p>
<%= p.text_area :other_info, :cols => 60, :rows => 4 %>

