<p class="works_question">I have experience in the following areas:</p>

<p>
<table class="form">
	<% for item in HelpAdditionalArea.find(:all) %>
		<tr>
			<th><%= check_box_tag("help_additional_areas[]", item.name, partner.help_additional_areas.collect(&:name).include?(item.name)) %></th>
			<td><%= item.name %>
			</td>
		</tr>
	<% end -%>

</table>
</p>

<p>&nbsp;</p>