<p class="works_question">I am experienced in the following plan types (check all that apply):</p>

<p>
<table class="form">
	<% for item in PlanType.find(:all) %>
		<tr>
			<th><%= check_box_tag("plan_types[]", item.name, partner.plan_types.collect(&:name).include?(item.name)) %></th>
			<td><%= item.name %> 
			<%= p.text_field :plan_type_other if item.name.match('Other:') %>
			</td>
		</tr>
	<% end -%>
</table>
</p>

<p>&nbsp;</p>