<p>
<table class="form">
	<tr>
		<th>Profession:</th>
		<td>
			<select name='profession' id='profession'>
				<option value=''></option>
				<%= options_for_select(Profession.find(:all).collect{|pr| [pr.name, pr.name]}, partner.professions.collect(&:name).first) %>
			</select>
		</td>
	</tr>
	<tr id="partner_profession_other">
		<th>Other:</th>
		<td>
			<%= p.text_field :profession_other, :size => 60 %>
		</td>
	</tr>
</table>
</p>
