<p class="works_question">I am willing to accept referrals under the following fee arrangements (check all that apply):</p>

<p>
<table class="form">
	<% for item in ReferralFee.find(:all, :order => :position ) %>
		<tr class="<%=refferals_class_display(item).to_s %>" style="display:none;">
			<th><%= check_box_tag("referral_fees[]", item.name, partner.referral_fees.collect(&:name).include?(item.name)) %></th>
			<td><%= item.name %>
			</td>
		</tr>
	<% end -%>

</table>
</p>

<p>&nbsp;</p>

