<p class="works_question">I am experienced with the following sponsor types (check all that apply):</p>

<p>
<table class="form">
	<% for item in SponsorType.find(:all) %>
		<tr>
			<th><%= check_box_tag("sponsor_types[]", item.name, partner.sponsor_types.collect(&:name).include?(item.name)) %></th>
			<td><%= item.name %> 
				<%= p.text_field :sponsor_type_other if item.name.match('Other') %>
			</td>
		</tr>
	<% end -%>	
</table>
</p>

<p>&nbsp;</p>