@charset "utf-8";
/* CSS Document */
/* initial conditions ============================================== */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
code,
del,
dfn,
em,
img,
q,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
}
/* Tables still need 'cellspacing="0" in markup*/
caption,
th,
td {
  text-align: left;
  font-weight: 400;
}
/* Remove possible quote marks ("../images/) from <q>, <blockquote>. */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: ""
}
blockquote,
q {
  quotes: "" ""
}
a img {
  border: none
}
/* /initial conditions ============================================== */
.ui-tabs-hide {
  display: none
}
/* html tag styles ================================================== */
iframe body {
  background: #fff
}
body {
  color: #000;
  background: #c9e4e6;
  background-image: none !important;
}
body,
td,
input,
textarea,
select,
option {
  font: normal 14px/1.5em  Arial, Helvetica, sans-serif
}
p {
  margin: 5px 0px 10px 0px;
  line-height: 1.3;
  font-size: 14px;
}
strong,
em,
b,
i {
  font-family: Arial, Helvetica, sans-serif
}
b {
  font-weight: bold
}
i {
  font-style: italic
}
u {
  text-decoration: underline
}
a,
a:visited {
  font-weight: bold;
  text-decoration: none;
  outline: none;
  color: #004F5A;
}
a:hover,
a:active {
  text-decoration: underline
}
h1 {
  font-size: 30px;
  margin: 0px 0px 20px 0px;
  font-weight: bold;
  line-height: 1.2;
  font-family: Tahoma, Geneva, sans-serif;
  color: #8d0e3a;
}
h2 {
  font-size: 175%;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  line-height: 1.2;
  font-family: Tahoma, Geneva, sans-serif;
}
h3 {
  font-size: 150%;
  margin: 0px 0px 10px 0px;
  font-weight: bold;
  line-height: 1.4;
  font-family: Tahoma, Geneva, sans-serif;
}
h4 {
  font-size: 135%;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  line-height: 1.5;
  font-family: Tahoma, Geneva, sans-serif;
}
h5 {
  font-size: 120%;
  margin: 0px 0px 5px 0px;
  font-weight: bold;
  line-height: 1.5;
  font-family: Tahoma, Geneva, sans-serif;
}
h6 {
  font-size: 110%;
  font-weight: bold;
  margin: 0px 0px 5px 0px;
  line-height: 1.5;
  font-family: Tahoma, Geneva, sans-serif;
}
h3 a,
h3 a:visited {
  font-size: 18px;
  color: #004e5a;
  text-decoration: underline;
  margin-top: 23px;
}
h3 {
  font-size: 18px;
  color: #004e5a;
}
th {
  font-weight: bold
}
img {
  border-width: 0px
}
pre {
  background-color: #eee;
  padding: 0.75em 1.5em;
  font-size: 12px;
  border: 1px solid #ddd;
}
code {
  font: 110% 'Courier New', Courier, Fixed
}
acronym,
abbr {
  font-size: 90%;
  letter-spacing: .07em;
}
/* /Tag styles ========================================================= */
/* Layout ================================================================= */
#page-wrapper {
  width: 1044px;
  margin: 0px auto;
  background: url("../images/shadow-left.png") repeat-y;
}
#page-wrapper-inner {
  background: url("../images/shadow-right.png") top right repeat-y
}
#header {
  background: url("../images/header-background.png") repeat-y scroll 0 0 transparent;
  height: 165px;
}
#header img.left {
  margin-top: 10px
}
#main-wrapper {
  clear: both
}
#content {
  float: left;
  margin: 30px 30px 0 30px;
  width: 570px;
  padding-bottom: 30px;
  display: inline;
}
#content-no-sidebar {
  float: left;
  margin: 30px 30px 0 30px;
  padding-bottom: 30px;
  width: 800px;
  display: inline;
}
#main-content-no-sidebar {
  float: left;
  width: 960px;
}
#sidebar {
  float: left;
  margin-top: 10px;
  width: 330px;
  display: inline;
}
#sidebar h3 a,
#sidebar h3 a:visited {
  font-size: 24px;
  color: #004e5a;
  text-decoration: none;
}
#sidebar p {
  font-size: 14px
}
.callout-box {
  background: none repeat scroll 0 0 #E6F3F4;
  margin: 10px 15px 15px 0;
  padding: 15px;
}
* html #header {
  background: none
}
* html #page-wrapper {
  background: none
}
* html #page-wrapper-inner {
  background: none
}
/* /Layout ================================================================= */
/* form ================================================================= */
form table td {
  padding: 3px
}
form,
.form {
  color: #222;
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
}
.form th {
  text-align: right
}
fieldset {
  border: none;
  margin: 10px 0px;
  padding: 5px 0px;
}
legend {
  padding: 0px 5px 0px 5px
}
form.email {
  clear: both;
  float: left;
  width: 900px;
  margin-top: 20px;
}
form.email input {
  float: left;
  clear: both;
  margin-bottom: 15px;
}
form.email input.message {

}
form.email label {
  float: left;
  clear: both;
  margin-bottom: 5px;
}
form.email select {
  float: left;
  clear: both;
  margin-bottom: 15px;
}
form.email textarea {
  float: left;
  clear: both;
  margin-bottom: 15px;
}
form.email p {
  float: left
}
form.help {
  clear: both;
  float: left;
  width: 900px;
  margin-top: 20px;
}
form.help input {
  float: left;
  clear: both;
  margin-bottom: 15px;
}
form.help input.message {

}
form.help label,
.auto {
  width: auto
}
#tabs h3,
#tabs h2 {
  color: #CC0000;
  font-size: 18px;
  margin-top: 30px;
}
/* /form ================================================================= */
/* Misc ================================================================= */
small {
  font-size: 90%
}
.small {
  font-size: 90%
}
.right {
  float: right!important;
  display: inline;
}
.left {
  float: left!important;
  display: inline;
}
.border-bottom {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}
p.intro {
  font-size: 18px
}
/* /Misc ================================================================= */
/* list and widget styles ========================================================= */
ul,
ol,
dl {
  margin: 0px 0px 0px 0px;
  padding: 0px;
}
ol {
  padding: 0px 0px 0px 25px
}
ul.links.inline li {
  background: none!important
}
#content .ui-tabs .ui-tabs-panel {
  padding: 1em 5px
}
/* #content ul li {background:url("../images/red-box.png") no-repeat scroll 7px 5px transparent;list-style:none outside none;margin:0 0 10px;padding:0 25px;font-size:14px} _NO__DOTCOMMA__AFTER__*/
/* #content-no-sidebar ul li {background: url("/images/red-box.png") no-repeat scroll 1px 5px transparent;font-size: 14px;list-style: none outside none;margin: 0 0 10px;padding: 0 20px;} _NO__DOTCOMMA__AFTER__*/
#content .ui-tabs {
  padding: 0.2em
}
#content .ui-corner-all {
  -moz-border-radius: 4px 4px 4px 4px
}
#content .ui-widget-content {
  background: url("../images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #FFFFFF;
  border: 1px solid #AAAAAA;
  color: #222222;
}
#content .ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em;
}
#content .ui-tabs .ui-tabs-nav {
  list-style: none outside none;
  padding: 0.2em 0.2em 0;
  position: relative;
}
#content .ui-corner-all {
  -moz-border-radius: 4px 4px 4px 4px
}
#content .ui-helper-clearfix {
  display: block
}
#content .ui-widget-header {
  border: 1px solid #AAAAAA;
  color: #222222;
  font-weight: bold;
}
#content .ui-helper-clearfix {
  display: block
}
#content .ui-helper-clearfix {
  display: inline-block
}
#content .ui-helper-reset {
  border: 0 none;
  font-size: 100%;
  line-height: 1.3;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-decoration: none;
}
#content .ui-tabs .ui-tabs-nav li.ui-tabs-selected {
  border-bottom-width: 0;
  padding-bottom: 1px;
}
#content .ui-tabs .ui-tabs-nav li {
  border-bottom-width: 0 !important;
  float: left;
  margin: 0 0.2em -1px 0;
  padding: 0;
  position: relative;
}
#content .ui-state-active,
#content .ui-widget-content .ui-state-active {
  background: url("../images/ui-bg_glass_65_f1e9b1_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
  border: 1px solid #AAAAAA;
  color: #212121;
  font-weight: normal;
  outline: medium none;
}
#content .ui-state-default,
#content .ui-widget-content .ui-state-default {
  background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
  outline: medium none;
}
#content .ui-corner-top {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}
#content .ui-state-default,
#content .ui-widget-content .ui-state-default {
  background: url("../images/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
  border: 1px solid #D3D3D3;
  color: #555555;
  font-weight: normal;
  outline: medium none;
}
#content .ui-state-active,
#content .ui-widget-content .ui-state-active {
  background: url("../images/ui-bg_glass_65_f1e9b1_1x400.png") repeat-x scroll 50% 50% #FFFFFF;
  border: 1px solid #AAAAAA;
  color: #212121;
  font-weight: normal;
  outline: medium none;
}
#content .ui-widget-header {
  border: 1px solid #AAAAAA;
  color: #222222;
  font-weight: bold;
  width: 556px;
  margin-bottom: -1px;
}
#content .ui-corner-top {
  -moz-border-radius-topleft: 4px;
  -moz-border-radius-topright: 4px;
}
.ui-tabs .ui-tabs-nav li a {
  float: left;
  padding: 0.5em 1em;
  text-decoration: none;
}
.req {
  color: #ff002e;
  font-size: 12px;
  margin-left: 10px;
}
.reqnote {
  color: #ff002e
}
.more {
  background: url("../images/triangle.png") no-repeat scroll 7px 2px transparent;
  list-style: none outside none;
  margin: 0 0 10px;
  padding: 0 25px;
}
.italic {
  font-style: italic
}
.search-text {
  float: left;
  height: 19px;
  margin-top: 5px;
  width: 156px;
}
.search-button {
  float: left;
  margin-left: -23px;
  margin-top: 7px;
  clear: none;
}
/* /list and widget styles ========================================================= */
/* menu styles ========================================================= */
#navigation {
  background: none repeat scroll 0 0 #008C99;
  width: 960px;
  margin: 10px 0px 10px 0;
}
#navigation {
  background: none repeat scroll 0 0 #008C99;
  width: 960px;
  margin: 10px 0px 0px 0px;
  height: 40px;
}
#navigation ul {
  float: left;
  height: 40px;
}
#navigation ul li {
  list-style: none;
  float: left;
}
#navigation ul li:hover {
  background-color: #004F5A
}
#navigation ul li a {
  float: left;
  font-size: 16px;
  font-weight: bold;
  margin: 10px 14px 0;
  color: #fff;
  height: 28px;
}
#navigation ul li a:hover {
  text-decoration: none
}
#navigation ul li.active {
  background: none repeat scroll 0 0 #F1E9B1;
  height: 38px;
  color: #004F5A;
}
#navigation ul li.active a {
  color: #004F5A
}
/* /menu styles ========================================================= */
/* header styles ========================================================= */
#header-search {
  float: right;
  margin-right: 10px;
  margin-top: 2px;
}
#page {
  width: 960px;
  margin: 0 auto;
  background: #fff;
}
/* /header styles ========================================================= */
/* breadcrumb styles ========================================================= */
.breadcrumb,
.breadcrumb a {
  color: #004F5A;
  margin: 0px 5px;
}
.breadcrumb a {
  text-decoration: underline
}
/* /breadcrumb styles ========================================================= */
/* footer styles ========================================================= */
#footer {
  background: #004f5a;
  color: #fff;
  width: 960px;
}
#footer ul {
  margin: 20px;
  float: left;
  width: 900px;
}
#footer li {
  list-style: none;
  float: left;
  margin-right: 20px;
  background: none;
  padding: 0px;
}
#footer li a {
  color: #fff
}
.address-cc {
  float: left;
  margin: 0px 0px 20px 20px;
}
.address-cc img {
  margin-top: 9px;
  margin-right: 7px;
}
.address-cc p {
  margin-bottom: 0px;
  margin-top: 10px;
  font-size: 12px;
}
.translate {
  float: right;
  width: 183px;
  margin: 20px 30px 0 0;
}
.translate img {
  margin-bottom: 10px
}
.translate select {
  margin-right: 10px
}
/* footer styles ========================================================= */
/* margins and pads ======================================================== */
.marg5 {
  margin: 5px
}
.marg10 {
  margin: 10px
}
.marg15 {
  margin: 15px
}
.marg20 {
  margin: 20px
}
.margtop3 {
  margin-top: 3px
}
.margright3 {
  margin-right: 3px
}
.margbottom3 {
  margin-bottom: 3px
}
.margleft3 {
  margin-left: 3px
}
.margtop5 {
  margin-top: 5px
}
.margright5 {
  margin-right: 5px
}
.margbottom5 {
  margin-bottom: 5px
}
.margleft5 {
  margin-left: 5px
}
.margtop10 {
  margin-top: 10px
}
.margright10 {
  margin-right: 10px
}
.margbottom10 {
  margin-bottom: 10px
}
.margleft10 {
  margin-left: 10px
}
.margtop15 {
  margin-top: 15px
}
.margright15 {
  margin-right: 15px
}
.margbottom15 {
  margin-bottom: 15px
}
.margleft15 {
  margin-left: 15px
}
.margtop20 {
  margin-top: 20px
}
.margright20 {
  margin-right: 20px
}
.margbottom20 {
  margin-bottom: 20px
}
.margleft20 {
  margin-left: 20px
}
.margtop25 {
  margin-top: 25px
}
.margright25 {
  margin-right: 25px
}
.margbottom25 {
  margin-bottom: 25px
}
.margleft25 {
  margin-left: 25px
}
.margbottom35 {
  margin-bottom: 35px
}
.padtop3 {
  padding-top: 3px
}
.padright3 {
  padding-right: 3px
}
.padbottom3 {
  padding-bottom: 3px
}
.padleft3 {
  padding-left: 3px
}
.padtop5 {
  padding-top: 5px
}
.padright5 {
  padding-right: 5px
}
.padbottom5 {
  padding-bottom: 5px
}
.padleft5 {
  padding-left: 5px
}
.padtop10 {
  padding-top: 10px
}
.padright10 {
  padding-right: 10px
}
.padbottom10 {
  padding-bottom: 10px
}
.padleft10 {
  padding-left: 10px
}
.padtop15 {
  padding-top: 15px
}
.padright15 {
  padding-right: 15px
}
.padbottom15 {
  padding-bottom: 15px
}
.padleft15 {
  padding-left: 15px
}
.padtop20 {
  padding-top: 20px
}
.padright20 {
  padding-right: 20px
}
.padbottom20 {
  padding-bottom: 20px
}
.padleft20 {
  padding-left: 20px
}
.padbottom25 {
  padding-bottom: 25px
}
.padbottom45 {
  padding-bottom: 45px
}
.padbottom60 {
  padding-bottom: 60px
}
.padleft15 {
  padding-left: 15px
}
.padleft25 {
  padding-left: 25px
}
.padleft35 {
  padding-left: 35px
}
.pad5 {
  padding: 5px
}
.pad10 {
  padding: 10px
}
.pad15 {
  padding: 15px
}
table.tblpad3 td {
  padding: 3px
}
table.tblpad5 td {
  padding: 5px
}
.tablepad td {
  padding: 5px
}
.tablepad10 td {
  padding: 10px
}
table.border td {
  border: 1px solid #000;
  padding: 4px;
}
/* /margins and pads ======================================================== */
/* main layout styles ========================================================== */
#errorExplanation ul {
  color: #FF002E;
  font-size: 12px;
  margin-top: 60px;
  margin-left: 20px;
}
#spinner {
  padding: 10px 18px 0 18px
}
.normal {
  font-weight: normal
}
table {
  font: normal 76%/150% "Lucida Grande", "Lucida Sans Unicode", Verdana, Arial, Helvetica, sans-serif;
  border-collapse: separate;
  border-spacing: 0;
  margin: 0 0 1em;
  color: #000;
}
thead th,
thead td,
tfoot th,
tfoot td {
  border: 1px solid #523A0B;
  border-width: 1px 0;
  background: #EBE5D9;
}
th {
  font-weight: bold;
  line-height: normal;
  padding: 0.25em 0.5em;
  text-align: left;
}
tbody th,
td {
  padding: 0.25em 0.5em;
  text-align: left;
  vertical-align: top;
}
tbody th {
  font-weight: normal;
  white-space: nowrap;
}
tbody th a:link,
tbody th a:visited {
  font-weight: bold
}
tbody td,
tbody th {
  border: 1px solid #fff;
  border-width: 1px 0;
}
tbody tr.odd th,
tbody tr.odd td {
  border-color: #EBE5D9;
  background: #F7F4EE;
}
/*tbody tr:hover td,
tbody tr:hover th {
  background:#ffffee;
  border-color:#523A0B;
  }
*/
caption {
  font-family: Georgia,Times,serif;
  font-weight: normal;
  font-size: 1.4em;
  text-align: left;
  margin: 0;
  padding: 0.5em 0.25em;
}
#admin_list {
  width: 850px
}
/* admin section from old admin layout */
form.admin_form input.btn {
  width: auto;
  overflow: visible;
}
form.admin_form label.desc,
legend.desc {
  display: block;
  font-weight: bold;
  font-size: small;
}
fieldset legend,
form.admin_form legend {
  color: #000;
  display: inline;
}
form.admin_form div label,
form.admin_form span label {
  clear: both;
  display: block;
  font-size: 9px;
  margin: 0;
  padding-top: 1px;
}
form.admin_form span#addRestriction label {
  display: inline;
  font-size: inherit;
  padding-left: 4px;
}
form.admin_form div,
form.admin_form span {
  padding-bottom: 12px;
  margin-right: 4px;
}
form.admin_form span {
  float: left;
  display: block;
}
form.admin_form .left {
  float: left;
  padding-right: 12px;
}
form.admin_form .half {
  width: 48%
}
form.admin_form li {
  list-style: none
}
.notice {
  width: 641px;
  background-color: #EFE;
  background-repeat: repeat-x;
  text-align: center;
}
.error {
  width: 620px;
  background-color: #FEE;
  border: 1px solid #F00;
  text-align: center;
}
#ageIncomeQuestions #householdRow td {
  padding-top: 2.5em
}
.indent {
  margin-left: 3em
}
.clear {
  clear: both
}
form.admin_form span.regular-label label {
  display: inline;
  font-size: 13px;
}

.agency_result hr {
  border: 0;
  height: 1px;
  color: #CCC;
  background-color: #CCC;
}

.email-this-page {
  background-image: url(/images/email-this-page.png);
  height: 39px;
  width: 140px;
  display: inline-block;
  text-align: center;
  vertical-align: top;
}

.email-this-page .stButton .chicklets {
  background-position: 0 8px;
  height: 32px;
  line-height: 32px;
}

#used-for-disclaimer {
  display: none;
  font-weight: initial;
  font-size: 14px;
  padding: 0 10px;
}

#used-for-other {
  display: none;
}

.employer-type {
  display: none;
}

#employment-end {
  display: none;
}

/* ======== */
/* = HELP = */
/* ======== */

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clearfix {
  display: inline-block;
}

html[xmlns] .clearfix {
  display: block;
}

* html .clearfix {
  height: 1%;
}

#content-no-sidebar.help {
  margin: 0;
  padding: 0;
  width: 900px;
}

.help h1 {
  color: #78233b;
}

.help p {
  font-size: 16px;
  line-height: 24px;
}

.help p.intro {
  font-weight: normal;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;;
}

.help .separator {
  background-image: url(../images/help-separator.png);
  margin: 20px 0 0;
  height: 21px;
  width: 100%;
}

p.mandatory-fields {
  color: #78233b;
  font-size: 11px;
  font-weight: bold;
  line-height: 18px;
}

p.mandatory-fields img {
  vertical-align: bottom;
}

.help label {
  color: #222;
  font-family: Verdana,Arial,sans-serif;
  font-weight: bold;
  font-size: 13px;
}

form.help select {
  float: left;
  clear: both;
  margin-bottom: 15px;
}

form.help textarea {
  float: left;
  clear: both;
  margin-bottom: 15px;
}

form.help p {
  float: left
}

label {
  font-weight: bold
}

.required {
  color: #cc0000
}

.field, .help .field p {
  line-height: 36px;
  min-height: 32px;
}

.field {
  padding: 2px 10px 2px 10px;
}

.field select {
  margin: 9px 0;
  height: 20px;
}

.field.rq p {
  background: transparent url(../images/mandatory-field.png) 0 50% no-repeat;
  padding-left: 25px;
}

.field label {
  float: left;
  width: 650px;
}

.field p {
  float: right;
  margin: 0;
  width: 200px;
}

.narrow-field label {
  float: left;
  width: 150px;
}

.narrow-field p {
  margin: 0;
  float: right;
  width: 590px;
}

.narrow-field p label {
  float: initial;
  width: initial;
}

.field-odd {
  background-color: #f3f8f9;
}

.field-even {
  background-color: #ffffff;
}

.help .hint {
  color: #4f899a;
  font-size: 12px;
  font-weight: normal;
  line-height: initial;
  margin-bottom: 5px;
}

.help .small {
  font-size: 11px;
}

.help .field input {
  background-color: #fdfbee;
  border: 1px solid #4f899a;
  font-size: 12px;
  height: 20px;
  margin: 9px 0;
}

.field-next {
  background-color: #ddefef;
  padding: 2px 10px;
}

.field-next a {
  border: 0;
}

.help .form-error label {
  background: transparent url(/images/error-alert.png) no-repeat 0% 8px;
  padding-left: 24px;
  width: 626px;
}

#employer-type-radios label {
  display: block;
  line-height: 36px;
  padding: 2px 10px 2px 10px;
}

.field-next .next {
  float: right;
  width: 30%;
  text-align: right;
}

.field-next .previous {
  float: left;
  width: 30%;
}