<select name="<%= id_prefix %>county_ids[]" id="county_ids_<%= id_prefix %>" multiple=true size=6>
  <% if states.empty? %>
    <option value=""> - Please select a state - </option>
  <% else -%>
    <option value=""> -- unrestricted -- </option>
    <% county_ids ||= [] %>
    <%= options_for_select states.collect{|s| s.counties}.flatten.collect{|c| [c.state_abbrev+':'+c.name, c.id]}.sort, county_ids || [] %>
  <% end -%>
</select><label>County</label>
<!-- observe_field here since the select box may be replaced when choosing a new state, and we'll need to observe its replacement -->

