
<p>
  <%= check_box :partner, :wants_npln %>
  <label for="partner_wants_npln">
    &nbsp;<a href="#npln">National Pension Lawyers Network (NPLN)</a>
  </label>
</p>
<p>
  <%= check_box :partner, :wants_pal %>
  <label for="partner_wants_pal">
    &nbsp;<a href="#pal">Pension Assistance List (PAL) Actuary Network</a>
  </label>
</p>