<p>&nbsp;</p>

<p class="clear"><a name="npln"></a><h2>National Pension Lawyers Network (NPLN):</h2>The NPLN is a nationwide lawyer referral service operated by the Pension Action Center at the University of Massachusetts Boston. The service is free-of-charge for clients and for attorney members. NPLN will conduct a brief intake with the client, and then make a referral to a lawyer skilled in employee benefit claims, fiduciary litigation or the division of pensions at divorce, as appropriate. Referral lawyers may charge for their services, but are encouraged to offer reduced or sliding-scale fees, based on client need.</p>

<p>&nbsp;</p>

<p><a name="pal"></a><h2>Pension Assistance List (PAL) Actuary Network:</h2>The Pension Assistance List (PAL) is a nationwide actuary referral service operated by the American Academy of Actuaries. Actuaries must be members of the American Academy of Actuaries to sign up for PAL; however, non-AAA members may join PensionHelp America’s actuary referral listing. Both services are free for clients and for actuary members. The applicable service will conduct a brief intake with the client, and then make a referral to an appropriately skilled actuary. Member actuaries may charge for their services, but are encouraged to offer reduced-fee, sliding-scale or pro bono services as appropriate, based on client need.</p>

<p>&nbsp;</p>