<h2>About Us</h2>
<p>PensionHelp America is the nation’s only website to provide information for participants of every pension system in the United States. Pension systems within the U.S. are increasingly complex, leaving many participants and their families confused about their legal rights and unsure where to get their questions answered. PensionHelp America addresses this growing problem by connecting individuals with the resources that will serve them and creating resources where none exist.</p>

<p>PensionHelp America’s staff is made up of attorneys, pension experts, social workers, and software developers dedicated to creating a one stop source for America’s information and assistance needs.
<%= link_to 'Meet the staff', :controller => 'home', :action => 'meet_us' %></p>

<p>PensionHelp America was built with the generous support of our founders, the Administration on Aging, the Pension Rights Center, Atlantic Philanthropies, Retirement Research Foundation, and the Public Welfare Foundation. Each of these founders has shown long-term dedication to the issues of aging and retirement security through philanthropic activities, congressional education, and provision of direct service. These organizations have long histories of addressing aging and retirement issues through innovative ways that have the potential for significant long-term impact, such as PensionHelp America and the web.</p>

<p>Other organizations have played a vital role in the development and continuing expansion of PensionHelp America. Learn about these other organizations in our <%= link_to 'PensionPals', :controller => :pals %> area.</p>