<h2>Privacy Policy</h2>

<p>Your privacy is important to PensionHelp America. Therefore, we will not sell, rent, or give away any of your personal information, such as your name, address, email or employment information, to anyone for any reason. However, with your agreement, we will refer your applicable information to another organization if we think that doing so may be enable you to get more assistance with your questions.</p>

<p>PensionHelp America does collect anonymous information about the use of our website. The information that we collect is never tied to an individual’s personal information and is used only for studying trends on our website.</p>