<h1>New Developments at PensionHelp America</h1>

<% for news in @internal_news %>
<h2>
	<a href="<%= "/internal_news/#{news.id}/show" %>"><%= news.title %></a>
</h2>
<%= news.intro %>
<% end -%>

<%= render :partial => 'paginator', :locals => {:paginator => @paginator, :search_params => {}} %>