<%= link_to_remote image_tag(agency.use_for_counseling ? 'check_blue.gif' : 'close.gif'),
		{:update => 'use_for_counseling_'+agency.id.to_s,
		:url => {:controller => 'agencies', :action => 'switch_counseling', :id => agency.id }}  %>