
<%= render :partial => 'area_served_search_form', :locals => {:restriction => @restriction} %>

<div id="area_served_results" class="clear fullwidth">
  <%= render :partial => 'search_results', :object => @search_results %>
</div>