<div class="field rq clearfix <%= cycle("field-odd", "field-even") %> <%= error_class_on @counseling, :age %>">
  <label for="counseling_age">
    Please enter the year of your birth.
    <br/>
    <span class="hint">Some legal service providers offer
    services based on certain age criteria. Answering this question will
    help us find a legal service provider to assist you.</span>
  </label>
  <p>
    <%= f.text_field :age, :size => 5 %>
  </p>
</div>
