First Name: <%= @contact.first_name %>
Last Name: <%= @contact.last_name %>
Middle Initial: <%= @contact.middle_initial %>
Firm: <%= @contact.company %>
Address Line 1: <%= @contact.line_1 %>
Address Line 2: <%= @contact.line_2 %>
City: <%= @contact.city %>
State: <%= @contact.state_abbrev %>
Zip Code: <%= @contact.zip_code %>
Phone: <%= @contact.phone %>
Fax: <%= @contact.fax %>
Email: <%= @contact.email %>
Website: <%= @contact.url %>