Link: http://<%= @site + @mail.link %>
Page title: <%= @mail.page_title %>

<%= @mail.message %>

This email was sent to you by <%= @mail.name %>. Pension Help America respects your privacy and will not contact you.