During a counseling session on PHA, a user has requested information about a plan with the following details, but we could not find any information about this plan in our database.

The user requested to be contacted at this email address: <%= @feedback_email %>

State:  <%= @state %>
County: <%= @county %>
<%= "City: #{@city}" if @city %>
Plan name:    <%= @plan_name %>
Agency name:  <%= @agency_name %>
Job function: <%= @job_function %>