Thank you for submitting your application to join the Pension Help America nationwide pension assistance network.  A network representative will contact you soon. We sincerely appreciate your interest in this important work and we look forward to working with you.

If you'd like to change any details on your application, feel free to follow the link to return to your application.  Note that you'll need to login with the username and password you setup during the application process.

Your username is: <%= @username %>

You can modify your application at: http://www.pensionhelp.net/works