<h1>You are now leaving PensionHelp America</h1>

<p>We hope you find these services helpful; however, PensionHelp America takes no responsibility for the content of other websites.</p>

<p>Once you have reviewed the external information you may return to the previous PensionHelp America page by clicking on your browser's back button. You may need to click on the back button several times.</p>

<h2><%= link_to 'GO', @dest_url %></h2>
