<% content_for :sidebar do  %>
    <%= render :partial => "layouts/sidebar" if @content.show_sidebar?(params[:url] || controller.request.original_url) %>
<% end %>
<%  if @content.full_width_page?(params[:url] || controller.request.original_url) %>
    <div id="content-no-sidebar">
      <%= raw(@content.content) %>
    </div>
<% else %>
    <%= raw(@content.content) %>
<% end %>