<% content_for :sidebar do  %>
  <%= render :partial => "layouts/sidebar" if @content.show_sidebar?(params[:url] || @controller.request.env["REQUEST_URI"]) %>
<% end %>
<%  if @content.full_width_page?(params[:url] || @controller.request.env["REQUEST_URI"]) %>
  <div id="content-no-sidebar">
    <%= @content.content %>
  </div>
<% else %>
    <%= @content.content %>
<% end %>