<h1>Management Menu</h1>

<ul class="menuList">
<li><%= link_to "Agencies / Locations / Plans", agencies_url(:clear=>true) %></li>
<li><%= link_to "Manage page content", :controller => "admin/content", :action => 'index' %></li>
<li><%= link_to "Manage news items", :controller => "admin/news", :action => 'index' %></li>
<li><%= link_to "Partner List", :controller => "/partners", :action => 'index'%></li>
</ul>