<%= error_messages_for 'content' %>

<!--[form:content]-->
<p><label for="content_title">URL</label><br/>
<%= text_field 'content', 'url'  %></p>

<p><label for="content_title">Title</label><br/>
<%= text_field 'content', 'title'  %></p>

<p><label for="content_content">Content</label><br/>
<%= text_area 'content', 'content', :cols => 70  %></p>

<!--[eoform:content]-->

