<h2>Updating <%= @content.url %></h2>

<% form_tag :action => 'update', :id => @content do %>
  <%= render :partial => 'form' %>
  <%= submit_tag 'Save' %>
<% end %>

<%= link_to 'Back to List', :action => 'list' %>
