<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="gradientblue.com" />
<meta name="description" content="PensionHelp America" />
<meta name="robots" content="all" />
<title>PensionHelp America</title>
<% # Include TinyMCE before other JS to avoid problems -%>
<%= javascript_include_tiny_mce_if_used %>
<%= tiny_mce if using_tiny_mce? %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'textsizer' %>
<%= stylesheet_link_tag 'default', :media => 'all' %>
<%= stylesheet_link_tag 'admin', :media => 'all' %>
</head>
<body class="admin">
	<div id="container">
		<div class="header" id="admin_header">
			<div style="position:relative">
			<a href="/" id="home_link"></a>
			<%= link_to_function('',"ts('body',1)", :id => 'ts_increase_link')%>
			<%= link_to_function('',"ts('body',-1)", :id => 'ts_decrease_link')%>
			</div>
		</div>
	<div id="content">
		<div class="buffer">
			<% if flash[:warning] || flash[:notice] -%>
					<div class="warningBox">
						<table class="warningTable">
							<tr class="warningRow">
								<td class="warningCell1">
									<%= image_tag "layout/icon_exclamation.gif" %>
								</td>
								<td class="warningCell2">
									<p><%= flash[:warning] %>  <%= flash[:notice] %></p>
								</td>
							</tr>
						</table>
					</div>
				<br/>
		   <% end -%>
			<% if flash[:success] -%>
					<div class="successBox">
						<table class="successTable">
							<tr class="successRow">
								<td class="successCell1">
									<%= image_tag "layout/icon_checkmark.gif" %>
								</td>
								<td class="successCell2">
									<p><%= flash[:success]%></p>
								</td>
							</tr>
						</table>
					</div>
				<br/>
		    <% end -%>

<%= yield  %>
			</div>
		</div>
			<%= render :partial=>'layouts/footer' %>
	</div>
</body>