<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="author" content="gradientblue LLC" />
<meta name="description" content="PensionHelp America" />
<meta name="robots" content="all" />
<title>PensionHelp America</title>
<%= stylesheet_link_tag 'default', :media => 'screen' %>
<%= stylesheet_link_tag 'print', :media => 'print' %>
<%= stylesheet_link_tag 'print-preview.css', :media => 'screen', :rel => 'alternate stylesheet', :title => 'Print Preview' %>
<%= javascript_include_tag :defaults %>
<%= javascript_include_tag 'textsizer' %>
<%= javascript_include_tag 'print' %>
<script type="text/JavaScript">
<!--
function MM_preloadImages() { //v3.0
var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}
function MM_swapImgRestore() { //v3.0
var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}
function MM_findObj(n, d) { //v4.01
var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImage() { //v3.0
var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
</head>
<body>
	<div class="header">
		<div id="<%= @request.request_parameters['controller'] %>_header">
			<div style="position:relative">
			<%= link_to_function('',"ts('body',1)", :id => 'ts_increase_link')%>
			<%= link_to_function('',"ts('body',-1)", :id => 'ts_decrease_link')%>
			<a href="/" id="home_link"></a>
			<a href="mailto:?Subject=PensionHelp.org%20information&Body=http://<%= request.host %><%= request.request_uri %>" id="mailto_link"></a>
			<a href="#" onclick="print_preview(); return false;" id="print_link"></a>
			</div>
		</div>
	</div>
	
	<table cellspacing="0" cellpadding="0" id="container">
		<tr>
			<td valign="top" id="menuTableCell">
				<div id="menu">
					<div id="menuHeader"></div>
					<div style="height:56px">
						<%= link_to image_tag('layout/button-help-off.jpg', { :height => "56px", :alt => "help", :name => "help", :id => "help", :onmouseover => "MM_swapImage('help','','/images/layout/button-help-on.jpg',1);", :onmouseout => "MM_swapImgRestore()" }), { :controller => :help } %>
					</div>
					<div id="menuLink">
						<%= link_to image_tag('layout/button-search-off.jpg', { :height => "62px", :alt => "search", :name => "search", :id => "search", :onmouseover => "MM_swapImage('search','','/images/layout/button-search-on.jpg',1);", :onmouseout => "MM_swapImgRestore()" }), { :controller => :search } %>
					</div>
					<div id="menuLink">
						<%= link_to image_tag('layout/button-news-off.jpg', { :height => "62px", :alt => "news", :name => "news", :id => "news", :onmouseover => "MM_swapImage('news','','/images/layout/button-news-on.jpg',1);", :onmouseout => "MM_swapImgRestore()" }), { :controller => :news } %>
					</div>
					<div id="menuLink">
						<%= link_to image_tag('layout/button-pals-off.jpg', { :height => "62px", :alt => "pals", :name => "pals", :id => "pals", :onmouseover => "MM_swapImage('pals','','/images/layout/button-pals-on.jpg',1);", :onmouseout => "MM_swapImgRestore()" }), { :controller => :pals } %>
					</div>
					<div id="menuLink">
						<%= link_to image_tag('layout/button-works-off.jpg', { :height => "62px", :alt => "works", :name => "works", :id => "works", :onmouseover => "MM_swapImage('works','','/images/layout/button-works-on.jpg',1);", :onmouseout => "MM_swapImgRestore()" }), { :controller => :works } %>
					</div>
				</div>
			</td>
			<td>
				<div id="content">
					<div class="buffer">
						<% if flash[:warning] || flash[:notice] -%>
								<div class="warningBox">
									<table class="warningTable">
										<tr class="warningRow">
											<td class="warningCell1">
												<%= image_tag "layout/icon_exclamation.gif" %>
											</td>
											<td class="warningCell2">
												<p><%= flash[:warning] %>  <%= flash[:notice] %></p>
											</td>
										</tr>
									</table>
								</div>
							<br/>
					   <% end -%>
						<% if flash[:success] -%>
								<div class="successBox">
									<table class="successTable">
										<tr class="successRow">
											<td class="successCell1">
												<%= image_tag "layout/icon_exclamation.gif" %>
											</td>
											<td class="successCell2">
												<p><%= flash[:success]%></p>
											</td>
										</tr>
									</table>
								</div>
							<br/>
					    <% end -%>
						<%= @content_for_layout %>
					</div>
				</div>
				<div id="footer">
					<ul>
						<li><%= link_to_unless_current 'Home', '/' %></li>
						<li id="list_separator">|</li>
						<li><%= link_to_unless_current 'About Us', '/about_us' %></li>
						<li id="list_separator">|</li>
						<li><%= link_to_unless_current 'Privacy',  '/privacy' %></li>
						<li id="list_separator">|</li>
						<li><%= link_to_unless_current 'Terms of Use',  '/terms_of_use' %></li>
						<li id="list_separator">|</li>
						<li><%= link_to_unless_current 'Disclaimers', '/disclaimers' %></li>
						<li id="list_separator">|</li>
						<li><%= link_to_unless_current 'Feedback', :controller => :feedback %></li>
					</ul>
					<%= link_to_unless_current "Copyright &copy;#{Time.now.strftime('%Y')} Pension Rights Center", '/copyright' %>
					<div id="print_disclaimer">All Rights Reserved with Permission of the Pension Rights Center.</div>
				</div>
			</td>
		</tr>
	</table>
</body>